# Python cache files
__pycache__/
*.py[cod]
*$py.class
ChatBot/ChatBot/__pycache__/*
ChatBot/ChatBot/graph/__pycache__/*
ChatBot/ChatBot/graph/nodes/__pycache__/*
ChatBot/ChatBot/graph/nodes/retrievel_chain/__pycache__/* 
ChatBot/ChatBot/graph/nodes/embedding_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/new_base_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/chat_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/rerank_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/regenerate_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/evaluator_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/retriever_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/generation_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/rerank_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/regenerate_node/__pycache__/*
ChatBot/ChatBot/graph/nodes/evaluator_node/__pycache__/*
.env
.venv/*
